{% extends 'layout.html' %} {% block body %}
<h1 class="page-title">API</h1>
<div class="row">
  <div class="col-md-12">
    <p>The data used for this project is stored in a Postgres database that is hosed on AWS using AWS' Relational
      Database Service (RDS). To access the survey responses from the database, we built a simple API using Flask.</p>
    <p><a href="/swagger" target="_blank">Start here</a> for a basic reference on how to use the endpoints available to
      query the database for the data you need.</p>
  </div>
</div>
{% endblock %}