{% extends 'layout.html' %} {% block body %}

<h1 class="page-title">Data</h1>
<div class="row">
  <div class="col-md-12">
    <p class="main">
      The data used for this project comes from the <a href="https://osmihelp.org/research" target="_blank">OSMI Mental
        Health in Tech survey</a>.  This is an annual survey used to conduct research about mental health, focusing on 
        measuring attitudes, perceptions, and prevalence within the tech community.
    </p>
    <p>
      The survey results from 2014 and 2016-2019 are stored as csv files on <a
        href="https://www.kaggle.com/osmihelp/osmi-mental-health-in-tech-survey-2019" target="_blank">kaggle</a>. For
      this project, csv files were downloaded, converted into dataframes, and loaded into a Postgres
      database hosted on AWS. For more information on the ETL process, see the <a href="/etl">ETL</a> page.
    </p>
    <p>
      Values were saved as null in the database if a survey question was not answered, or if a year had additional 
      questions that other years did not have.  Each row includes a year column to distinguish between survey results from 
      different years.
    </p>
    <p>
      To retrieve the survey results from the database, an API was built using Flask and SQLAlchemy. The following table
      shows a small subset of the data that is currently in the database.
    </p>
    <table class="table table-responsive table-striped mt-5 table-hover table-dark" id="survey-responses-table">
      <thead class="thead-dark">
        <tr class="table-header-row">
          <th class="table-head">year</th>
          <th class="table-head">number_employees</th>
          <th class="table-head">employer_provides_mental_health_benefits</th>
          <th class="table-head">employer_formally_discussed_mental_health</th>
          <th class="table-head">employer_mental_health_importance</th>
          <th class="table-head">sought_treatment_for_mental_health</th>
          <th class="table-head">mental_health_in_interview</th>
          <th class="table-head">employer_offers_resources</th>
          <th class="table-head">is_anonymity_protected_by_employer</th>
          <th class="table-head">level_difficulty_asking_for_leave</th>
          <th class="table-head">currently_has_mental_health_disorder</th>
          <th class="table-head">interferes_with_work_treated</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

{% endblock %}