{% extends 'layout.html' %} {% block body %}

<h1 class="page-title">Data</h1>
<div class="row">
  <div class="col-md-12">
    <p class="main">Database</p>
    <table class="table table-responsive table-striped mt-5 table-hover table-dark" id="survey-responses-table">
      <thead class="thead-dark">
        <tr class="table-header-row">
          <th class="table-head">year</th>
          <th class="table-head">number_employees</th>
          <th class="table-head">employer_provides_mental_health_benefits</th>
          <th class="table-head">employer_formally_discussed_mental_health</th>
          <th class="table-head">employer_mental_health_importance</th>
          <th class="table-head">sought_treatment_for_mental_health</th>
          <th class="table-head">mental_health_in_interview</th>
          <th class="table-head">employer_offers_resources</th>
          <th class="table-head">is_anonymity_protected_by_employer</th>
          <th class="table-head">level_difficulty_asking_for_leave</th>
          <th class="table-head">currently_has_mental_health_disorder</th>
          <th class="table-head">interferes_with_work_treated</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

{% endblock %}