{% extends 'layout.html' %} {% block body %}

<h1>ETL Background</h1>

<div class="row">
  <div class="col-md-12" id="summary-text">
    <h3>Summary</h3>
    <p class="main">Steps taken to extract, transform, and load the data.</p>
    <h3>Extract</h3>
    <p class="main">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac ex et tortor sollicitudin egestas. Cras vel ante interdum,
      commodo massa ut, commodo lectus. Aenean aliquam metus nisl, eu pretium justo accumsan nec. Morbi sodales aliquam felis,
      eget elementum dui porta vitae. Suspendisse id ultricies arcu. Donec semper neque at dui ornare imperdiet. Morbi eu augue
      nisl. Nulla facilisi. Etiam sagittis egestas sagittis. Maecenas sagittis molestie varius. Aenean rutrum sapien eu ultrices
      venenatis. Proin in est porta, dignissim massa ut, maximus purus. Integer vehicula diam id orci tempus, eu ultricies dolor
      feugiat. Cras dictum libero ac ante dictum, vitae cursus mi consequat.
    </p>
    <h3>Transform</h3>
    <p class="main">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac ex et tortor sollicitudin egestas. Cras vel ante interdum,
      commodo massa ut, commodo lectus. Aenean aliquam metus nisl, eu pretium justo accumsan nec. Morbi sodales aliquam felis,
      eget elementum dui porta vitae. Suspendisse id ultricies arcu. Donec semper neque at dui ornare imperdiet. Morbi eu augue
      nisl. Nulla facilisi. Etiam sagittis egestas sagittis. Maecenas sagittis molestie varius. Aenean rutrum sapien eu ultrices
      venenatis. Proin in est porta, dignissim massa ut, maximus purus. Integer vehicula diam id orci tempus, eu ultricies dolor
      feugiat. Cras dictum libero ac ante dictum, vitae cursus mi consequat.
    </p>
    <h3>Load</h3>
    <p class="main">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac ex et tortor sollicitudin egestas. Cras vel ante interdum,
      commodo massa ut, commodo lectus. Aenean aliquam metus nisl, eu pretium justo accumsan nec. Morbi sodales aliquam felis,
      eget elementum dui porta vitae. Suspendisse id ultricies arcu. Donec semper neque at dui ornare imperdiet. Morbi eu augue
      nisl. Nulla facilisi. Etiam sagittis egestas sagittis. Maecenas sagittis molestie varius. Aenean rutrum sapien eu ultrices
      venenatis. Proin in est porta, dignissim massa ut, maximus purus. Integer vehicula diam id orci tempus, eu ultricies dolor
      feugiat. Cras dictum libero ac ante dictum, vitae cursus mi consequat.
    </p>
  </div>
</div>

{% endblock %}
