{% extends 'layout.html' %} {% block body %}

<h1 class="page-title">Mental Health in Tech</h1>
<p>Using machine learning to analyze mental health coverage at tech companies</p>


<div class="row">
  <div class="col-md-12" id="summary-text">
    <h3>Overview</h3>
    <p class="main">The OSMI Mental Health in Tech survey includes categorical data about employees’ attitudes toward
      mental health in the workplace in the tech industry. For this project, we intend to use this data to compare and
      contrast different machine learning classification models (logistic regression, decision tree etc). The goal of
      this project is to see if there is a model that can classify/predict whether an employee would seek treatment for
      mental health based on different workplace features.</p>
    <h3>Background</h3>
    <p class="main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac ex et tortor sollicitudin egestas.
      Cras vel ante interdum, commodo massa ut, commodo lectus. Aenean aliquam metus nisl, eu pretium justo accumsan
      nec. Morbi sodales aliquam felis, eget elementum dui porta vitae. Suspendisse id ultricies arcu. Donec semper
      neque at dui ornare imperdiet. Morbi eu augue nisl. Nulla facilisi. Etiam sagittis egestas sagittis. Maecenas
      sagittis molestie varius. Aenean rutrum sapien eu ultrices venenatis. Proin in est porta, dignissim massa ut,
      maximus purus. Integer vehicula diam id orci tempus, eu ultricies dolor feugiat. Cras dictum libero ac ante
      dictum, vitae cursus mi consequat.</p>
    <p class="main">Phasellus vehicula placerat euismod. Suspendisse placerat est nec nisi maximus pharetra. Nullam
      purus arcu, dictum vitae eros ac, vehicula pulvinar dolor. Orci varius natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus. Sed ut libero tortor. Integer lacus mauris, tristique quis faucibus a, malesuada
      quis mi. Nam placerat lacus consectetur nisl tincidunt consequat. Aliquam erat volutpat. Fusce ac magna a risus
      blandit porta. Cras pellentesque ante odio, at sagittis elit pharetra nec. Ut quis sollicitudin leo.</p>
    <h3>Sources</h3>
    <p class="main">
      <ul>
        <li>Open Sourcing Mental Illness (OSMI). (2020) <a href="https://osmihelp.org" target="_blank">osmihelp.org</a>
        </li>
        <li></li>
        <li></li>
      </ul>
    </p>
  </div>
</div>
{% endblock %}