{% extends 'layout.html' %} {% block body %}
<section id="top">
  <div class="overview-page-navigation mb-3">
    <a href="#overview" class="btn ml-4">Overview</a>
    <a href="#background" class="btn ml-4">Background</a>
    <a href="#team" class="btn ml-4">Team</a>
  </div>
  <h1 class="header-title">Mental Health in Tech</h1>
  <p>Using data to improve mental health conversations in the workplace.</p>
  <img src="../static/images/conversations_word_cloud.png" style="width: 100%" />
</section>
<section id="overview">
  <h1 class="header-title">Overview <a href="#top" class="btn ml-4 top">Top</a></h1>
  <p>The Open Sourcing Mental Illness (OSMI) Mental Health in Tech survey includes categorical data about employees’
    attitudes toward
    mental health in the workplace in the tech industry. For this project, data was used to compare and
    contrast different machine learning classification models. The goal of this project
    was to see if there is a model that can classify whether an employee would seek treatment for
    mental health based on different workplace features/factors.</p>
</section>
<section id="background">
  <h1 class="header-title">Background <a href="#top" class="btn ml-4 top">Top</a></h1>
  <p>OSMI was founded in 2013 as a response to an observed lack of mental health resources for those working within the
    tech community.
    Since 2014, annual surveys have been conducted to capture the attitudes, perceptions, and frequency of mental health
    disorders
    within this group. This research has led to documentation meant to assist employers in developing supporting
    environments for those
    with mental health disorders, as well as general awareness through presenting at conferences and company events.
  </p>

  <p>If you are part of the tech and open source community and would like to contribute to OSMI’s research, the
    <a href="https://osmi.typeform.com/to/A7mlxC" target="_blank"> 2020 Mental Health in Tech</a> survey is now
    available.</p>
</section>
<section id="team">
  <h1 class="header-title">Team <a href="#top" class="btn ml-4 top">Top</a></h1>
  {% include 'includes/_team.html' %}
</section>

{% endblock %}