{% extends 'layout.html' %} {% block body %}
<section id="top">
  <h1 class="header-title">Mental Health in Tech</h1>
  <p>Using data to improve mental health conversations in the workplace.</p>
  <img src="../static/images/conversations_word_cloud.png" style="width: 100%" />
</section>
<section id="overview">
  <h1 class="header-title">Overview</h1>
  <p>The OSMI Mental Health in Tech survey includes categorical data about employees’ attitudes toward
    mental health in the workplace in the tech industry. For this project, we intend to use this data to compare and
    contrast different machine learning classification models (logistic regression, decision tree etc). The goal of
    this project is to see if there is a model that can classify/predict whether an employee would seek treatment for
    mental health based on different workplace features.</p>
</section>
<section id="background">
  <h1 class="header-title">Background</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac ex et tortor sollicitudin egestas.
    Cras vel ante interdum, commodo massa ut, commodo lectus. Aenean aliquam metus nisl, eu pretium justo accumsan
    nec. Morbi sodales aliquam felis, eget elementum dui porta vitae. Suspendisse id ultricies arcu. Donec semper
    neque at dui ornare imperdiet. Morbi eu augue nisl. Nulla facilisi. Etiam sagittis egestas sagittis. Maecenas
    sagittis molestie varius. Aenean rutrum sapien eu ultrices venenatis. Proin in est porta, dignissim massa ut,
    maximus purus. Integer vehicula diam id orci tempus, eu ultricies dolor feugiat. Cras dictum libero ac ante
    dictum, vitae cursus mi consequat.</p>
  <p>Phasellus vehicula placerat euismod. Suspendisse placerat est nec nisi maximus pharetra. Nullam
    purus arcu, dictum vitae eros ac, vehicula pulvinar dolor. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Sed ut libero tortor. Integer lacus mauris, tristique quis faucibus a, malesuada
    quis mi. Nam placerat lacus consectetur nisl tincidunt consequat. Aliquam erat volutpat. Fusce ac magna a risus
    blandit porta. Cras pellentesque ante odio, at sagittis elit pharetra nec. Ut quis sollicitudin leo.</p>
</section>
<section id="team">
  <h1 class="header-title">Team</h1>
  {% include 'includes/_team.html' %}
</section>

{% endblock %}