<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css')}}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <title>Mental Health in Tech</title>
</head>

<body>
  <div class="panel-container">
    <a class="bg1" href="/overview">
      <h2>Mental Health in Tech</h2>
      <p>Using data to analyze mental health conversations in the workplace.</p>
    </a>

    <a href="/overview" class="bg1">
      <h2><i class="fas fa-info-circle"></i></h2>
      <p>Overview</p>
    </a>
    <a class="bg2" href="/etl">
      <h2><i class="fas fa-database"></i></h2>
      <p>ETL</p>
    </a>
    <a class="bg1" href="/predict">
      <h2><i class="fas fa-search"></i></h2>
      <p>Predict</p>
    </a>
    <a class="bg1" href="/machine-learning">
      <h2><i class="fas fa-brain"></i></h2>
      <p>Machine Learning</p>
    </a>
    <a class="bg2" href="/api/docs">
      <h2><i class="fas fa-cogs"></i></h2>
      <p>API</p>
    </a>
    <a class="bg1" href="/team">
      <h2><i class="fas fa-user-friends"></i></h2>
      <p>Team</p>
    </a>
    <a class="bg1" href="https://github.com/abbylemon/mental_health_ML" target="_blank">
      <h2><i class="fab fa-github"></i></h2>
      <p>GitHub</p>
    </a>
    <a class="bg2" href="/data">
      <h2><i class="fab fa-aws"></i></h2>
      <p>Data</p>
    </a>
    <a class="bg2" href="https://osmihelp.org/" target="_blank">
      <h2>OSMI</h2>
      <p>Donate to help support mental health in the tech community</p>
    </a>
    <a class="bg2" href="/nlp">
      <h2><i class="fas fa-comments"></i></h2>
      <p>Natural Language Processing</p>
    </a>
    <a class="bg2" href="/visualizations">
      <h2><i class="fas fa-chart-pie"></i></h2>
      <p>Visualizations</p>
    </a>
  </div>
</body>

</html>