{% extends 'layout.html' %} {% block body %}

<h1 class="page-title">Natural Language Processing</h1>
<div class="row mt-5">
  <div class="col-md-12">
    <h2 class="mt-3">Sentiment Analysis of Mental Health Conversations with Employer</h2>
    <form action="/nlp" method="POST">
      <div class="form-group mt-5">
        <h5>Select Library</h5>
        <select name="library">
          <option value="vader">VADER</option>
          <option value="textblob">TextBlob</option>
        </select>
      </div>
      <div class="form-group mt-5">
        {% if message %}
        <p class="message">{{ message | safe }}</p>
        {% endif %}
        <h5>Describe the conversation you had with your employer about your mental health, including their reactions
          and
          what actions were taken to address your mental health.</h5>
        <textarea class="form-control" name="comments" rows="3"></textarea>
      </div>
      <input type="submit" value="Submit" class="btn btn-dark submit-btn" />
    </form>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-6">
    {% if vader_score %}
    <table class="table table-dark">
      <thead>
        <tr class="table-header-row">
          <th class="table-head">Sentiment Metric</th>
          <th class="table-head">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Positive</th>
          <td>{{ vader_score.pos | safe }}</td>
        </tr>
        <tr>
          <td scope="row">Negative</th>
          <td>{{ vader_score.neg | safe }}</td>
        </tr>
        <tr>
          <td scope="row">Neutral</th>
          <td>{{ vader_score.neu }}</td>
        </tr>
        <tr>
          <td scope="row">Compound</th>
          <td>{{ vader_score.compound }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    {% if textblob_score %}
    <table class="table table-dark">
      <thead>
        <tr class="table-header-row">
          <th class="table-head">Polarity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ textblob_score | safe }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  </div>
  {% if vader_score %}
  <div class="col-md-6">
    <p>Represents the proportion of text that is positive, negative, or neutral (should all add up to 1).</p>
    <p><b>Positive sentiment:</b> compound score greater than or equal to 0.05.</p>
    <p><b>Neutral sentment:</b> compound score greater than -0.05 and less than 0.05.</p>
    <p><b>Negative Sentiment:</b> compound score greater less than or equal to -0.05.</p>
    <p>For more information about how a sentence is scored to classify it as either positive, negative, or neutral, go
      <a href="https://github.com/cjhutto/vaderSentiment#about-the-scoring" target="_blank">here</a>.</p>
  </div>
  {% endif %}
  {% if textblob_score %}
  <div class="col-md-6 mt-5">
    <p>Polarity lies in the range of -1 and 1. 1 means a positive statement. -1 means a negative statement.</p>
  </div>
  {% endif %}
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <h5>Sentiment Scores for Survey Results from 2017-2019</h5>
    <p>Here are a few sample comments from the dataset and what sentiment the libraries predicted:</p>
    <table class="table table-responsive table-striped mt-3 table-hover table-dark" id="sentiment-scores-table">
      <thead class="thead-dark">
        <tr class="table-header-row">
          <th class="table-head">Conversation</th>
          <th class="table-head">VADER</th>
          <th class="table-head">TextBlob</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <h5>Word Cloud</h5>
    <img src="../static/images/conversations_word_cloud.png" style="width: 100%" />
  </div>
</div>

{% endblock %}