{% extends 'layout.html' %} {% block body %}

<h1 class="page-title">Natural Language Processing</h1>

<h3 class="mt-5 header-title">Problem</h3>
<p>
  One of the main challenges of working with an unstructured dataset was the fact that many of the
  survey questions were open ended questions. That is, many of the questions did not fall into an easy yes/no or
  true/false category. Not only does this make performing any machine learning classification on these questions
  difficult, but this made
  manually cleaning the data almost impossible. Having defined a schema for the data and using a SQL database like
  Postgres helped make the data more structured but having to go through
  each of the open ended questions one by
  one and analyze what people wrote in their surveys is difficult and time consuming. It would take months and a lot of
  people to analyze all the responses. Also, manually going through this data would be
  largely inaccurate as these conversations could easily be interpreted differently by different people.
</p>
<h3 class="mt-5 header-title">Solution</h3>
<p>
  So, for this project, we wanted to figure out a way to help better automate the processing of these open ended
  questions by diving deeper into natural language processing and some of the different text analysis tools available
  for classifying text. Also, being that OSMI is a small non-profit with limited resources, automating some of the open
  responses that came back from the survey could potentialy help them discover insights into the data quicker from a
  large, unstructured dataset and not have to rely on manually going through each response one by one.
</p>
<h3 class="mt-5 header-title">Text Analysis of Mental Health Conversations with Employer</h3>
<p>
  As a proof of concept, we looked at analyzing the answers for the following survey question:
</p>
<h5 class="header-title bold mb-4">
  "Describe the
  conversation you had with
  your employer about your mental health, including ther reactions and what actions were taken to address your mental
  health."
</h5>
<p>
  Specifically, for this question, we wanted to see if we could come up with a simple text classification model
  that could accurately classify conversations employees had about mental health with their employer as either positive
  or negative. The ultimate goal of this exercise is to identify and extract the opinions from the survey responses to
  better understand the attitudes and emotions employees have towards mental health in the workplace and be able to
  classify those attidues and emotions as either positive or negative.
</p>
</p>
<h3 class="header-title mt-5">Sentiment Analysis</h3>
<p>
  To try to understand the meaning, context, and intent of what employees think about mental health in the workplace and
  to efficiently come up with some insights for improving mental health conversations in the workplace, we looked at a
  couple of different sentiment analysis tools that would allow us to somewhat automate the work of analyzing the
  polarity of the conversations and help us identify and classify the text as either positive or negative.
</p>
<ul>
  <li class="mt-3">
    <b>VADER (Valence Aware Dictionary and sEntiment Reasoner)</b> was one of the sentiment analysis tools we looked at.
    It is known to be a popular tool for analyzing social media texts in particular. The tool is open source. So, if you
    would like to learn more about this tool, see the <a href="https://github.com/cjhutto/vaderSentiment"
      target="_blank">GitHub</a>
    page. One of the main advantages of this tool we found out is that it is extremely fast, allowing us to process the
    data quickly.
  </li>
  <li class="mt-3">
    <b>TextBlob</b> was another sentiment analysis tool we looked at. One of the major advantages of this tool is that
    it is
    lightweight and has a low learning curve/is easy to use. The interface for interacting with this library is very
    accessible, and it is easy to get setup and start developing a sentiment analysis system. This tool is open source.
    So, if you would like to learn more about this tool, see the <a href="https://github.com/AdrianLC/TextBlob"
      target="_blank">GitHub</a> page.
  </li>
</ul>
<div class="row">
  <div class="col-md-12">
    <p class="mt-4">Use the form below to test out how these sentiment analysis tools work and how they calculate
      scores to classify
      text as positive or negtative</p>
    <form action="/nlp" method="POST">
      <div class="form-group mt-2">
        <h5>Select Library</h5>
        <select name="library">
          <option value="vader">VADER</option>
          <option value="textblob">TextBlob</option>
        </select>
      </div>
      <div class="form-group mt-5">
        {% if message %}
        <p class="message">{{ message | safe }}</p>
        {% endif %}
        <h5>Describe the conversation you had with your employer about your mental health, including their reactions
          and
          what actions were taken to address your mental health.</h5>
        <textarea class="form-control" name="comments" rows="3"></textarea>
      </div>
      <input type="submit" value="Submit" class="btn btn-dark submit-btn" />
    </form>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    {% if comments %}
    <p class="bold">{{ comments | safe }}</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% if vader_score %}
    <table class="table table-dark">
      <thead>
        <tr class="table-header-row">
          <th class="table-head">Sentiment Metric</th>
          <th class="table-head">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Positive</th>
          <td>{{ vader_score.pos | safe }}</td>
        </tr>
        <tr>
          <td scope="row">Negative</th>
          <td>{{ vader_score.neg | safe }}</td>
        </tr>
        <tr>
          <td scope="row">Neutral</th>
          <td>{{ vader_score.neu }}</td>
        </tr>
        <tr>
          <td scope="row">Compound</th>
          <td>{{ vader_score.compound }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    {% if textblob_score %}
    <table class="table table-dark">
      <thead>
        <tr class="table-header-row">
          <th class="table-head">Polarity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ textblob_score | safe }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  </div>
  {% if vader_score %}
  <div class="col-md-6">
    <p>Represents the proportion of text that is positive, negative, or neutral (should all add up to 1).</p>
    <p><b>Positive sentiment:</b> compound score greater than or equal to 0.05.</p>
    <p><b>Neutral sentment:</b> compound score greater than -0.05 and less than 0.05.</p>
    <p><b>Negative Sentiment:</b> compound score greater less than or equal to -0.05.</p>
    <p>For more information about how a sentence is scored to classify it as either positive, negative, or neutral, go
      <a href="https://github.com/cjhutto/vaderSentiment#about-the-scoring" target="_blank">here</a>.</p>
  </div>
  {% endif %}
  {% if textblob_score %}
  <div class="col-md-6 mt-5">
    <p>Polarity lies in the range of -1 and 1. 1 means a positive statement. -1 means a negative statement.</p>
    <p>For more information about how a sentence is scored to classify it as either positive, negative, or neutral, go
      <a href="https://textblob.readthedocs.io/en/dev/" target="_blank">here</a>.</p>
  </div>
  {% endif %}
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <h5>Distributon of Positive and Negative Conversations</h5>
    <p>The following charts compare how the different sentiment analysis tools classified the various write-in responses
      from the OSMI Mental Health in Tech Survey regarding conversations employees had with their employers. As you can
      see, both tools came up with pretty similar results.
      Although, TextBlob classified more responses as negative than did VADER.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="vader-results-chart"></div>
  </div>
  <div class="col-md-6">
    <div id="textblob-results-chart"></div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <h3 class="header-title">Text Classification Models</h3>
    <p>After performing a sentiment analysis on the data, we looked at trying to build a few different text
      classification models that could predict whether or not a conversation about mental health was positive or
      negative.</p>
    <p>
      To try to classify the conversations from the survey, we looked at and compared the following classification
      models.
    </p>
  </div>
  <div class="col-md-12">
    <h5>Naive Bayes</h5>
    <p>
      The first model we tried to fit our training data to was Naive Bayes. To build this model, we again used TextBlob,
      which provides built-in classifiers to create a custom classifier. One of those built-in classifiers is Naive
      Bayes. Naive Bayes is an example of a generative classifier, which is a classifier that builds a model of how a
      class could generate some input data. This type of classifier gives us the class most likely to have generated a
      particular observation.
    </p>
    <form action="/nb_classifier" method="POST">
      <div class="form-group mt-5">
        {% if nb_classifier_message %}
        <p class="message">{{ nb_classifier_message | safe }}</p>
        {% endif %}
        <p>Describe the conversation you had with your employer about your mental health, including their reactions
          and what actions were taken to address your mental health.</p>
        <textarea class="form-control" name="nb_classifier_text" rows="3"></textarea>
      </div>
      <input type="submit" value="Run Model" class="btn btn-dark submit-btn btn-lg" />
    </form>
  </div>
  {% if classification %}
  <div class="col-md-12 mt-3">
    <p>
      <b>Text</b>: {{ nb_classifier_text | safe }}
    </p>
  </div>
  <div class="col-md-6">
    <table class="table table-dark">
      <thead>
        <tr class="table-header-row">
          <th class="table-head">Classification</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">{{ classification | safe }}</th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-dark">
      <thead>
        <tr class="table-header-row">
          <th class="table-head">Model Accuracy</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">{{ nb_classifier_accuracy | safe }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <table class="table table-dark">
      <thead>
        <tr class="table-header-row">
          <th class="table-head">Most Informative Features</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            <pre class="code">
              Most Informative Features
              contains(supportive) = True              pos : neg    =      9.9 : 1.0
                    contains(sick) = True              neg : pos    =      8.3 : 1.0
                  contains(suffer) = True              neg : pos    =      5.8 : 1.0
                contains(brought) = True              neg : pos    =      5.8 : 1.0
                      contains(an) = True              pos : neg    =      4.7 : 1.0
                  contains(later) = True              neg : pos    =      4.5 : 1.0
                contains(thought) = True              neg : pos    =      4.5 : 1.0
                  contains(which) = True              neg : pos    =      4.5 : 1.0
                      contains(No) = True              neg : pos    =      4.5 : 1.0
                    contains(took) = True              neg : pos    =      4.2 : 1.0
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <h5>Word Cloud</h5>
    <p>A word cloud is a good way to see the visual representation of text data. It displays a list of words where the
      importance of each is shown with font size and color. The following word cloud was genereted using the Python <a
        href="https://github.com/amueller/word_cloud" target="_blank">wordcloud</a> library by <a
        href="https://github.com/amueller" target="_blank">Andreas Mueller</a>. This word cloud visually highlights
      the
      most common words used to describe the mental health conversations employees said they had with
      their employers. The large the text size, the more such words were used. From this word cloud, we can quickly
      see
      the positive, negative, and neutral sentiments.</p>
    <img src="../static/images/conversations_word_cloud.png" style="width: 100%" />
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <h5>Sentiment Scores for Survey Results from 2017-2019</h5>
    <p>Here are a few sample comments from the dataset and what sentiment the libraries predicted:</p>
    <table class="table table-responsive table-striped mt-3 table-hover table-dark" id="sentiment-scores-table">
      <thead class="thead-dark">
        <tr class="table-header-row">
          <th class="table-head">Conversation</th>
          <th class="table-head">VADER</th>
          <th class="table-head">TextBlob</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

{% endblock %}