{% extends 'layout.html' %} {% block body %}

<h1 class="page-title">Predict</h1>
<p>For employers: use the form below to predict whether your employees would seek mental health treatmeent</p>

<div class="row">
  <div class="col-md-12" id="summary-text">
    <h3>Form</h3>
    <form>
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="select1">My company is primarily a tech company/orgainization?</label>
          <select id="select1" class="form-control">
            <option selected></option>
            <option>True</option>
            <option>False</option>
          </select>
        </div>
        <div class="form-group col-md-7">
          <label for="select2">How many employees does your company have?</label>
          <select id="select2" class="form-control">
            <option selected></option>
            <option>1 to 5</option>
            <option>6 to 25</option>
            <option>26 to 100</option>
            <option>100 to 500</option>
            <option>500 to 1000</option>
            <option>More than 1000</option>
          </select>
        </div>
        <div class = "form-group col-md-7">
          <label for="select3">Do you provide mental health benefits to your employees?</label>
          <select id="select3" class="form-control">
            <option selected></option>
            <option>Yes</option>
            <option>No</option>
            <option>I'm not elibile for coverage/NA</option>
            <option>I don't know</option>
          </select>
        </div>
        <div class="form-group col-md-7">
          <label for="select4">Do you offer resources to your employees to learn more about mental health disorders and options for seeking help?</label>
          <select id="select4" class="form control">
            <option selected></option>
            <option>Yes</option>
            <option>No</option>
            <option>I don't know</option>
          </select>
        </div>
        <div class="form-group col-md-7">
          <label for="select5">Have you ever formally discussed mental health with your employees?</label>
          <select id="select5" class="form control">
            <option selected></option>
            <option>Yes</option>
            <option>No</option>
            <option>I don't know</option>
          </select>
        </div>
        <div class="form-group col-md-7">
          <label for="select6">If an employee takes advantage of mental health resources, would their anonymity be protected by you/the company?</label>
          <select id="select6" class="form control">
            <option selected></option>
            <option>Yes</option>
            <option>No</option>
            <option>I don't know</option>
          </select>
        </div>
        <div class="form-group col-md-7">
          <label for="select7">Have you observed or experienced a supportive or well handled response to a mental health issue in the workplace?</label>
          <select id="select7" class="form-control">
            <option selected></option>
            <option>I've always been self-employed</option>
            <option>No</option>
            <option>Maybe/Not Sure</option>
            <option>Yes, I observed</option>
            <option>Yes, I experienced</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-dark">Run</button>
    </form>
    <hr />
    <h3>Results</h3>
  </div>
</div>
{% endblock %}