{% extends 'layout.html' %} {% block body %}

<h1 class="header-title">Research</h1>
<p>Mental illnesses are health conditions involving changes in emotion, thinking or behavior (or a combination of
  these).
  Mental illnesses are associated with distress and/or problems functioning in social, work or family activities.
  This does not include culturally sanctioned response to negative events, such as the loss of a loved one.
  <a href="https://ajph.aphapublications.org/doi/pdf/10.2105/AJPH.89.9.1309" target="_blank"> [1]</a></p>

<p>Estimates show that the price of mental health care and lost productivity due to mental illnesses cost the U.S.
  economy more than $444 billion each year. Mental illnesses are common and in a given year nearly 19% of US adults
  experience some sort of mental illness, 4% have a serious mental illness and 8.5% have a diagnosable substance use
  disorder.
  <a href="https://www.psychiatry.org/patients-families/what-is-mental-illness" target="_blank"> [2]</a>
  The good thing is that meltal illnesses are treatable. If the stigma of mental health was removed
  and mental health care was provided, these mental health statisics could be lowered. </p>

<p>It is important for employeers to care about their employees mental states. The American Psychiaric Association
  reported
  that employees with unresolved depression episodes have a 35% reduction in productivity, contributing to a loss to
  the U.S.
  economy of $210.5 billion a year in absenteeism, reduced productivity, and medical costs.
  <a href="https://www.mcleanhospital.org/news/what-employers-need-know-about-mental-health-workplace" target="_blank">
    [3]</a>
  These depression episodes
  can be resolved with interventtion. Unfortunatly, the shame and stigma around admiting to a mental illness is so
  high that
  many people who need help are reluctant to talk about it. Depression can lead to many things such as the loss of
  interest
  to most activities, having difficulty concentrating, the feeling of worthlessness, and thoughs of suicide. Based on
  these
  symptions, it isn't suprising that depression can lead to employees missing over 30 days of work per year and
  another 28
  days per year due to the lack of productivity. With these facts, every company could benifet from supporting their
  employees through this difficult situcation. </p>

<p>The machine learning algorithm that was modeled off of the OSMI data, will gauge if your employees would be willing
  to
  seek help with a mental illness.</p>

{% endblock %}