{% extends 'layout.html' %} {% block body %}

<h1 class="page-title">Visualizations</h1>
<div class="row">
  <div class="col-md-12">
    <h2 class="mt-3">Predict 2020 Treatment Seeking Results</h2>
    <p>Along with predicting if a specific employee or would be willing to seek treatment for a mental illness, 
      we are also predicted the results for the 2020 survey. The specific result that we predicted was the percentage 
      of people that would be willing to seek treatment for a mental illness. </p>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <h5>2020 Survey Result Prediction</h5>
    <div id="twenty20-predict-chart"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>It can be seen that there is a positive trend with people responding 'True' to the question 
      'Have you ever sought treatment for a mental health disorder from a mental health professional?' </p>
  </div>
</div>

{% endblock %}