<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mental Health in Tech</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav navbar-right ml-auto mt-2 mt-lg-1">
      <li class="nav-item mr-4">
        <a class="nav-link" href="/overview">Overview</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="/api">API</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="/etl">ETL</a>
      </li>
      <li class="nav-item dropdown mr-4">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Machine Learning</a
        >
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/machine-learning">Model 1</a>
          <a class="dropdown-item" href="/machine-learning">Model 2</a>
        </div>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="/predict">Predict</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="/data">Data</a>
      </li>
    </ul>
  </div>
</nav>
