<div class="row mt-4">
  <div class="col-md-6">
    <div class="team-card">
      <img src="../static/images/phil.jpg" />
      <div>
        <h3 class="mt-2">Phil Stubbs</h3>
        <a href="https://github.com/philipstubbs13" target="_blank">
          <i class="fab fa-github fa-3x social-link ml-2"></i>
        </a>
        <a href="https://www.linkedin.com/in/philipjstubbs/" target="_blank">
          <i class="fab fa-linkedin fa-3x social-link ml-2"></i>
        </a>
        <a href="https://twitter.com/iamPhilStubbs" target="_blank">
          <i class="fab fa-twitter fa-3x social-link ml-2"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="team-card">
      <img src="../../static/images/avatar.png" />
      <div>
        <h3 class="mt-2">Abby Lemon</h3>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <div class="team-card">
      <img src="../../static/images/avatar.png" />
      <div>
        <h3 class="mt-2">Jenna Nytes</h3>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="team-card">
      <img src="../../static/images/avatar.png" />
      <div>
        <h3 class="mt-2">Jennifer Cain</h3>
      </div>
    </div>
  </div>
</div>